{% extends 'templates/arabicBasePage.html' %}

{% block title %} الباقات {% endblock %}

{% block content %}

  <main id="main" class="page">

    <!--breadcrumb-->
    <section id="الباقات" class="breadcrumb-page">
      <div class="container aos-init aos-animate">

        <div class="row justify-content-center about-container">

          <div class="col-lg-6 order-2 order-lg-1 content align-self-center">
            <div class="card border-0 shadow-none bg-transparent">
              <div class="card-header bg-transparent border-0" data-aos="fade-up">
                <h3 class="card-title fs-4 mb-3 text-primary fw-bold"><i class="bi bi-bar-chart-steps fs-2 text-success"></i> الباقات والعروض </h3>
              </div>
              <div class="card-body text-end p-0" data-aos="fade-up">
                <p class="card-text fs-6 text-secondary lh-lg" style="text-align: justify;">
                  احصل على الخدمة المثالية مع باقاتنا الحصرية التي تتضمن لك التميز في اعمالك
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 order-1 order-lg-2 background aos-init aos-animate" data-aos="zoom-in">
            <img src="assets/space_secure/assets/img/details-1.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section>
    <!--/breadcrumb-->


    <!--  section1 -->
    <section class="pricing">
      <div class="container">
        <div class="row pb-2 justify-content-center">
          <div class="col-12 text-center">
            <div class="card border-0">
              <div class="card-body text-center p-1">
                <h3 class="card-title fs-4 mb-3 text-primary fw-bold" data-aos="fade-up"><i class="bi bi-shield-check fs-2 text-success"></i> باقات خدمات الأمن السيبراني </h3>

              </div>
            </div>
          </div>
        </div>
        <div class="row  owl-carousel owl-theme justify-content-center gy-4 mt-2">

          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-shield-check fs-1"></i></span>
              <h3>حماية من الهجمات</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="/servicerequest" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>
            </div>
          </div>





          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-shield-check fs-1"></i></span>
              <h3>حماية من الهجمات</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>
          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-shield-check fs-1"></i></span>
              <h3>حماية من الهجمات</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>
          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-shield-check fs-1"></i></span>
              <h3>حماية من الهجمات</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>
          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-hdd-network fs-1"></i></span>
              <h3>سيرفر خاص</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>
          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-bag-check-fill fs-1"></i></span>
              <h3>إنشاء متجر إلكتروني</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>

        </div>

      </div>
    </section>
    <!-- / section1 -->

    <!--  section2 -->
    <section class="pricing">
      <div class="container">
        <div class="row pb-2 justify-content-center">
          <div class="col-12 text-center">
            <div class="card border-0">
              <div class="card-body text-center p-1">
                <h3 class="card-title fs-4 mb-3 text-primary fw-bold" data-aos="fade-up"><i class="bi bi-hdd-network fs-2 text-success"></i> باقات الخدمات التقنية </h3>

              </div>
            </div>
          </div>
        </div>
        <div class="row  owl-carousel owl-theme justify-content-center gy-4 mt-2">

          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-hdd-network fs-1"></i></span>
              <h3>سيرفر خاص</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="/servicerequest" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>
            </div>
          </div>




          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-shield-check fs-1"></i></span>
              <h3>حماية من الهجمات</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>
          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-shield-check fs-1"></i></span>
              <h3>حماية من الهجمات</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>
          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-shield-check fs-1"></i></span>
              <h3>حماية من الهجمات</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>
          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-bag-check-fill fs-1"></i></span>
              <h3>إنشاء متجر إلكتروني</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>

        </div>

      </div>
    </section>
    <!-- / section2 -->

    <!--  section3 -->
    <section class="pricing">
      <div class="container">
        <div class="row pb-2 justify-content-center">
          <div class="col-12 text-center">
            <div class="card border-0">
              <div class="card-body text-center p-1">
                <h3 class="card-title fs-4 mb-3 text-primary fw-bold" data-aos="fade-up"><i class="bi bi-file-earmark-code fs-2 text-success"></i> باقات خدمات تصميم المواقع والتطبيقات</h3>

              </div>
            </div>
          </div>
        </div>
        <div class="row  owl-carousel owl-theme justify-content-center gy-4 mt-2">

          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-shield-check fs-1"></i></span>
              <h3>حماية من الهجمات</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>
          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-shield-check fs-1"></i></span>
              <h3>حماية من الهجمات</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>
          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-shield-check fs-1"></i></span>
              <h3>حماية من الهجمات</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>
          </div>
          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-shield-check fs-1"></i></span>
              <h3>حماية من الهجمات</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>

          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-hdd-network fs-1"></i></span>
              <h3>سيرفر خاص</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>


          <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-bag-check-fill fs-1"></i></span>
              <h3>إنشاء متجر إلكتروني</h3>
              <h4><sup>$</sup>0</h4>
              <ul>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
                <li><i class="bi bi-check"></i> هذا النص هو مثال لنص.</li>
              </ul>
              <a href="طلب خدمة.html" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>

          </div>

        </div>

      </div>
    </section>
    <!-- / section3 -->

  </main><!-- End #main -->

{% endblock %}


